<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
      <link rel="stylesheet" href="/log.css" />
      <title>Container Logger</title>
  </head>
  <body style="margin: 30px;">
    <div class="ui grid">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <h1>Container: </h1>
            <% let id = container.id.substring(0, 12); %>
            <table width="50%" class="ui center aligned selectable celled striped table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>State</th>
                        <th>Names</th>
                        <th>Logging</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="containerId"><%- id -%></td>
                        <td><%- container.image -%></td>
                        <td><%- container.state -%></td>
                        <td><%- container.names.join(', ') -%></td>
                        <td class="collapsing">
                            <div class="ui fitted slider checkbox">
                            <input id="loggingIndicator" <%- container.logging ? 'checked' : '' -%> 
                                type="checkbox" onclick="loggingClicked(this, '<%- id -%>')">
                                <label></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="four wide column"></div>
    </div>

    <div class="ui grid">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
            <table class="ui center aligned selectable celled striped table" style="margin-bottom: 0; border-bottom: none;">
                <thead>
                    <tr>
                        <th style="width: 3.7%;">No.</th>
                        <th style="width: 19%;">Time logged</th>
                        <th style="width: 6%;">Source</th>
                        <th style="width: 70%;">Log</th>
                    </tr>
                </thead>
            </table>
            <div id="scrollDiv" class="scrollable-table">
                <table class="ui center aligned selectable celled striped table" style="margin-top:0px; border-top: none">
                <tbody id="logTable">
                    <% let i = 1;
                        if (logs && logs.length > 0) {
                        logs.forEach(log => { %>
                        <tr>
                            <td class="number"><%- i++ -%></td>
                            <td class="time-logged"><%- new Date(log.timeLogged).toUTCString() -%></td>
                            <td class="source"><%- log.source -%></td>
                            <td class="left aligned log">
                                    <%- log.log -%>
                            </td>
                        </tr>
                    <%    })
                        } %>
                </tbody>
            </table>
            <div style="float:left; clear:both" id="scrollTarget"></div>
            </div>
        </div>
        <div class="one wide column"></div>
    </div>

    <%# this is read by the 'log.js' script to determine 
        the number of the last log entry  %>
    <p id="counter" style="display: none;"><%- logs.length || 0 -%></p>

    <script type="text/javascript" src="/index.js"></script>
    <script type="text/javascript" src="/log.js"></script>
  </body>
</html>