<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
      <link rel="stylesheet" href="/log.css" />
      <title>Container Logger</title>
  </head>
  <body style="margin: 30px;">
    <div class="ui grid">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <h1>Container: </h1>
            <% let id = container.id.substring(0, 12); %>
            <table width="50%" class="ui center aligned selectable celled striped table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>State</th>
                        <th>Names</th>
                        <th>Logging</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="containerId"><%- id -%></td>
                        <td><%- container.image -%></td>
                        <td><%- container.state -%></td>
                        <td><%- container.names.join(', ') -%></td>
                        <td class="collapsing">
                            <div class="ui fitted slider checkbox">
                            <input id="loggingIndicator" <%- container.logging ? 'checked' : '' -%> 
                                type="checkbox" onclick="loggingClicked(this, '<%- id -%>')">
                                <label></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="four wide column"></div>
    </div>

    <div class="ui grid">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
            <table class="ui center aligned selectable celled striped table" style="margin-bottom: 0; border-bottom: none;">
                <thead>
                    <tr>
                        <th style="width: 3.7%;">No.</th>
                        <th style="width: 19%;">Time logged</th>
                        <th style="width: 6%;">Source</th>
                        <th style="width: 70%;">Log</th>
                    </tr>
                </thead>
            </table>
            <div class="scrollable-table">
                <table class="ui center aligned selectable celled striped table" style="margin-top:0px; border-top: none">
                <tbody id="logTable">
                    <tr>
                        <td class="number">1</td>
                        <td class="time-logged"><%- new Date().toUTCString() -%></td>
                        <td class="source">stdout</td>
                        <td class="left aligned log">
                                asf;lka ads  asjd  asdkjasdk jlaj sdlj saldkjl askdj laskjdlaksjd
                                asf;lka ads  asjd  asdkjasdk jlaj sdlj saldkjl askdj laskjdlaksjd
                                asf;lka ads  asjd  asdkjasdk jlaj sdlj saldkjl askdj laskjdlaksjd
                                asf;lka ads  asjd  asdkjasdk jlaj sdlj saldkjl askdj laskjdlaksjd
                                asf;lka ads  asjd  asdkjasdk jlaj sdlj saldkjl askdj laskjdlaksjd
                                
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="one wide column"></div>
    </div>

    <script type="text/javascript" src="/index.js"></script>
    <script type="text/javascript" src="/log.js"></script>
  </body>
</html>